@import 'tailwindcss';

@theme {
  --color-main: #0c110f;
  --color-surface: #181d1b;
  --color-primary: #8cef0d;
  --color-muted: #9c9d9f;
  --color-secondary: #1c1c1e;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #0c110f;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100dvh;
  overscroll-behavior: none;
}
