@import 'tailwindcss';
@import './styles/tokens.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: var(--color-main);
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100dvh;
  overscroll-behavior: none;
}
